@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "nav-item" }))
    {
        @Html.AntiForgeryToken()

              <li class="nav-item active"><a class="nav-link" href='@Url.Action("Index", "Manage", null, null)'>Manage Account</a></li>
              <li class="nav-item active"><a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", null, new { id = "registerLink", @style = "color: #ffffff" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", null, new { id = "loginLink", @style = "color: #ffffff" })</li>
    </ul>
}
