@model IEnumerable<LocalTheatre.Models.Announcements>

@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>
<hr />

<table class="table table-condensed table-striped">
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Date</th>
    </tr>

    @foreach (var item in Model)
    {

    }

</table>

