@{
    ViewBag.Title = "About";
}

<div class="row">
    <div class="col-md-4">
        <h2>About Us</h2>
        <hr/>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce faucibus fringilla vestibulum. Maecenas egestas orci nec fringilla fringilla. 
            Phasellus et eleifend lectus, quis tincidunt risus. Aliquam sapien nibh, auctor vel euismod id, scelerisque vel mi. 
            Nullam non erat elementum diam tincidunt pharetra. Quisque iaculis erat id magna venenatis pharetra. 
        </p>

        <hr/>
        <p><span class="glyphicon glyphicon-map-marker"></span> Glasgow, Scotland</p>
        <p><span class="glyphicon glyphicon-phone"></span> Phone: 0141 014111</p>
        <p><span class="glyphicon glyphicon-envelope"></span> Email: mail@localtheatre.com</p>
    </div>
    </div>
